
<h1>User Groups</h1>

<div class="row">
<% @groups.each do |u| %>
  <div class="col-md-5 col-techlahoma-group">
    <a href="<%= u[:website] %>" class="pull-right"><img src="<%= u[:logo_url] %>" height="75" width="75"/></a>
      <div class="blurb"><%= u[:blurb] %></div>
      <div>
        <b>when:</b> <%= u[:meetupdate]%><br/>
        <b>where:</b> <%= u[:location] %><br/>
        <b>contact:</b>
        <% if !u[:email].empty? %>
          <%= u[:email] %> |
        <% end %>
        <a href="<%= u[:website] %>">website</a>
        <% if u[:twitter] %>
           | <a href="https://twitter.com/<%= u[:twitter] %>">twitter</a>
        <% end %>
      </div>
  </div>
<% end%>
</div>
<br/>
